body, h1, h2, blockquote, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1.cr#cr1 {
    margin-top: 2%;
    font-size: 2.5em;
    padding: 30px 0;
    color: #4a47a3;
    background-color: #eae7dc;
    margin-bottom: 20px;
}
  
main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.review, .deal-of-the-day {
    width: calc(33.333% - 40px);
    margin: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.deal-of-the-day {
    background-color: #d62828;
    color: #fff;
    position: relative;
}

.deal-of-the-day:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.deal-of-the-day h2, .deal-of-the-day p {
    position: relative;
}

.deal-of-the-day button {
    background: #fcbf49;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.rating {
    color: #ffd700;
    font-size: 1.5em;
    padding: 10px 0;
}

footer {
    padding: 40px 0;
    background: #eae7dc;
    color: #000000;
}

.logo {
    display: inline-block;
    margin: 0 30px;
    width: 60px;
    height: auto;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .review, .deal-of-the-day {
        width: auto;
        margin: 20px auto;
    }
}
